<!DOCTYPE "HTML">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragment/header.html :: header-css"></div>
</head>
<body>
<nav th:replace="fragment/header.html :: menu"></nav>
<table border="1px" style="width:70%">
    <li th:each="film:${genree.getFilmGenre()}"><a th:text="${film.getTitle()}" th:href="'/film/details/'+${film.id}"></a></li>
</table>




<form th:action="'/Genre/modification'" th:object="${genree}" method="post" >
    <input hidden th:field="*{id}" type="text" />
    <p>nom : <input th:field="*{name}" type="text" /></p>
    <input hidden th:field="*{filmGenre}" type="text" />
    <input type="submit" value="rennomer">
</form>

<form method="get" action="/Genre/suprimer">
    <input hidden name="id" th:value="${genree.getId()}" type="text" />
    <input type="submit" value="Suprimer">
</form>
<form action="#" th:action="'/Genre/delie/'+${genree.getId()}"  method="get">
    <p>film :
        <select name="film">
            <option th:each="film : ${genree.getFilmGenre()}" th:value="${film.getId()}" th:text="${film.getTitle()}">
        </select>

        <input type="submit">
    </p>

</form>

<div th:replace="fragment/footer.html::footer"/>
</body>
</html>
