<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment/header.html :: header-css"></div>
<body>
<nav th:replace="fragment/header.html :: menu"></nav>
<a th:each="genree:${genres}" th:href="'/Genre/details/'+${genree.getId()}">
    <ul>
        <li th:text="${genree.getName()}"></li>

    </ul>
</a>

<form th:action="'/Genre/creation'" th:object="${newGenre}" method="post" >
    <p>nom : <input th:field="*{name}" type="text" /></p>
    <input type="submit" value="Nouveau Genre" />
</form>
<form th:action="'/Genre/ajoutfilm'"  method="post" >
    <p>film : <select name="film"><option th:each="film:${films}" th:value="${film.getId()}" th:text="${film.getTitle()}"></option></select></p>
    <p>genre : <select name="genre"><option th:each="genree:${genres}" th:value="${genree.getId()}" th:text="${genree.getName()}"></option></select></p>
    <input type="submit" value="liaison film" />
</form>


<div th:replace="fragment/footer.html::footer"/>
</body>
</html>