<!DOCTYPE "HTML">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragment/header.html :: header-css"></div>
</head>
<body>
<nav th:replace="fragment/header.html :: menu"></nav>
<table border="1px" style="width:70%">
    <tr ><td colspan="3" th:text="'Film : '+${film.titre}"></td></tr>
    <tr>
    <td><img width="200px" HEIGHT="200px" th:src="'/images/affiches/'+${film.getAffiche()}"></td>

    <th th:text="'la note du film : '+${film.getNotation()}"></th>

    <th th:text="'resumer : '+${film.getResume()}"></th>
    </tr>
    <tr><td colspan="3">Les acteurs</td></tr>
    <tr><td colspan="3">

    <a th:each="roleur:${film.getRoles()}"th:href="'/detailsActeur/'+${roleur.getActeur().getNom()}">

<ul>
    <img width="100px" HEIGHT="100px" th:src="'/images/personnes/'+${roleur.getActeur().getPhotoPath()}">
    <li th:text="${roleur.getActeur().getNom()}"></li>
            <span th:text="${roleur.getActeur().getPrenom()}"></span>

</ul>
    </a>
    </td>
    </tr>
</table>
<div th:replace="fragment/footer.html::footer"/>
</body>
</html>
