<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment/header.html :: header-css"></div>
<body>
<nav th:replace="fragment/header.html :: menu"></nav>
<h1 th:text="'Bonjour : '+${nom}">HELLO</h1>
<ul>
    <a th:each="film:${films}"th:href="'detailFilm/'+${film.getId()}">
        <li th:text="${film.getTitle()}"></li>
    </a>


</ul>
<!--<form  method="get" action="/recherche">-->
    <!--<input  type="text" name="test">-->
    <!--<button action="/recherche" type="submit">Search</button>-->
<!--</form>-->
<div th:replace="fragment/footer.html::footer"/>
</body>
</html>

