<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul th:each="film:${films}"th:href="'detailFilm/'+${film.id}">
    <li th:text="${film.title}"></li>
</ul>
<form action="#" th:action="@{/film/creation}" th:object="${Film}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <p>titre : <input type="text" th:field="*{title}"/></p>
    <p>note : <input type="text" th:field="*{rating}"/></p>
    <P>image : <input name="file" type="file"></P>
    <p>sommaire : <input type="text" th:field="*{summary}"/></p>
    <p>Réalisateur : <input name="realisateur" list="names" th:field="${persons.get(0).getNom()}">
        <datalist id="names">
            <option th:each="person : ${persons}" th:value="${person.getId()}" th:label="${person.getNom()+'    '+person.getPrenom()}">
        </datalist></p>
    <input type="submit" value="Valider" />
</form>

</body>
</html>