<!DOCTYPE "HTML">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragment/header.html :: header-css"></div>
</head>
<body>
<nav th:replace="fragment/header.html :: menu"></nav>
<table border="1px" style="width:70%">
    <tr ><td colspan="3" th:text="'Film : '+${film.getTitle()}"></td></tr>
    <tr>
    <td><img width="200px" HEIGHT="200px" th:src="'/images/affiches/'+${film.getImagePath()}"></td>

    <th th:text="'la note du film : '+${film.getRating()}"></th>

    <th th:text="'resumer : '+${film.getSummary()}"></th>
        <th >les genres :
            <li th:each="genre:${film.getLesGenres()}" th:text="${genre.getName()}"></li>
        </th>
    </tr>
    <tr><td colspan="3">Les acteurs</td></tr>
    <tr><td colspan="3">

    <a th:each="role:${roles}"th:href="'/detailActeur/'+${role.personne.getId()}">

<ul>
    <img width="100px" HEIGHT="100px" th:src="'/images/personnes/'+${role.getPersonne().getPhotoPath()}">
    <li th:text="${role.getName()}"></li>
            <span th:text="${role.getPersonne().getPrenom()}"></span>

</ul>
    </a>
    </td>
    </tr>
    <tr><td colspan="3">Réalisateur</td></tr>
    <tr><td colspan="3">
        <a th:href="'/acteur/details/'+${film.getDirector().getId()}">
            <ul>
                <img width="100px" HEIGHT="100px" th:src="'/images/personnes/'+${film.getDirector().getPhotoPath()}">
                <li th:text="${film.getDirector().getNom()+'   '+film.getDirector().getPrenom()}"></li>
            </ul>
        </a>
    </td>
</table>

<form action="#" th:action="@{/film/modification}" method="post" enctype="multipart/form-data">
    <input hidden th:value="${film.getId()}" name="id" type="text" />
    <p>titre : <input th:value="${film.getTitle()}" name="titre" type="text" /></p>
    <p>note : <input th:value="${film.getRating()}" name="note" type="number" /></p>

    <p>sommaire : <input th:value="${film.getSummary()}"style="height:200px;" name="sommaire" type="text" /></p>
    <p>Réalisateur :
        <select  name="realisateur">

            <option th:each="person : ${persons}" th:selected="${person.getId()==film.getDirector().getId()}" th:value="${person.getId()}" th:text="${person.getNom()+'    '+person.getPrenom()}">

                </select>
    </p>
    <input type="submit" value="Modifier" />
</form>

<form method="get" action="/film/suprimer">
    <input hidden type="text" name="id" th:value="${film.id}">
    <input type="submit" value="Suprimer">
</form>

<div th:replace="fragment/footer.html::footer"/>
</body>
</html>
